/* css styles */

.title {
  font-family: 'Prata';
}

.navbar-title {
  font-family: 'Prata';
  font-size: 36px;
}

.listing-title {
  font-family: 'Prata';
}

.menu-text {
  font-family: 'Prata';
}

.nav-footer {
  font-family: 'Prata';
}

.listing-date {
  font-family: 'Prata';
}

.listing-description {
  font-family: 'Roboto Slab';
}

.quarto-title-meta-heading  {
  font-family: 'Prata';
}

.quarto-title h1 {
  font-size: 30px;
}

.quarto-title-meta-contents  {
  font-family: 'Prata';
  font-size: 12px;
}

.quarto-banner-title-block h2 {
  font-family: 'Prata';
  font-size: 30px;
}

.imgpar {
  width: 50%;
  float: left;
  margin-right: 10px;
}

.content p {
  text-align: justify;
}

.content > *:not(.quarto-listing) p:first-of-type {
  text-indent: 30px;
}

.page-layout-custom {
  height: 100%;
  background-image: url("capa.png");
  padding-top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0px;
}

.page-layout-custom > #quarto-sidebar {
  padding: 0px;
}

.capa {
  font-family: 'Prata';
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85vh;
  color: white;
}

.titulo {
  font-size: 50px;
  color: white;
  font-weight: bold;
}

.subtitulo {
  padding-left: 2em;
  margin-top: 9px;
  font-weight: bold;
  font-size: 25px;
}

.botao {
  text-align: center;
  background-color: transparent;
  background-repeat: no-repeat;
  color: white;
}

.botao > a {
  border-color: white;
  text-decoration: none;
  border-style: ridge;
  border-color: rgba(255, 255, 255, 0.5);
  padding: 11px;
  border-width: thin;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.05);
  text-transform: uppercase;
  font-size: smaller;
  font-weight: bold;
}

.botao a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.topo hr {
  width: 18em;
}

#listing-edicao h3 {
  font-size: 20px;
}

#text-center p {
  text-align: center!important;
}

.right {
  text-align: right;
}

.right-push {
  padding-left: 50%;
}

.line-height p {
  line-height: 1.7;
}

/* #e4e7ef */